<div class="well">
  <div class="course-list" *ngIf="courses">
    <div class="row" *ngFor="let item of courses.results">
      <div class="col-md-4">
        <img [src]="item.media.image.large" class="rounded float-left"
          alt="...">

      </div>
      <div class="col-md-8">
        <div>
          <h1> {{item.name}}
            <kbd>{{item.org}}</kbd>
          </h1>
        
          <p>{{item.short_description}}</p>
          <p>开始：<code>{{item.start}}</code></p>
        </div>
      </div>
    </div>
  </div>
  <div class="pagination center-block">
    <nav aria-label="...">
      <ul class="pagination justify-content-end">
        <li class="page-item disabled">
          <span class="page-link">Previous</span>
        </li>
        <li class="page-item">
          <a class="page-link" href="#">1</a>
        </li>
        <li class="page-item active">
          <span class="page-link">
            2
            <span class="sr-only">(current)</span>
          </span>
        </li>
        <li class="page-item">
          <a class="page-link" href="#">3</a>
        </li>
        <li class="page-item">
          <a class="page-link" href="#">Next</a>
        </li>
      </ul>
    </nav>
  </div>
</div>
