<div class="container">
  <div class="main">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <a class="navbar-brand" href="javascript:void(0)" *ngIf="mySelfInfo">
        <img [src]="mySelfInfo.imageUrlMedium" width="50" height="50" alt=""> {{mySelfInfo.userName}}
      </a>
      <ul class="nav nav-pills bg-light" id="pills-tab" role="tablist" style="margin-left: 300px">
        <li class="nav-item">
          <a class="nav-link active" id="pills-chat-tab" data-toggle="pill" href="#pills-home" role="tab" aria-controls="pills-home"
            aria-selected="true">{{'Chat' |translate}}</a>
        </li>
        <li class="nav-item">
          <a class="nav-link " id="pills-contact-tab" data-toggle="pill" href="#pills-profile" role="tab" aria-controls="pills-profile"
            aria-selected="false">{{'Contacts' |translate}}</a>
        </li>
        <li class="nav-item">
          <a class="nav-link " id="pills-notice-tab" data-toggle="pill" href="#pills-contact" role="tab" aria-controls="pills-contact"
            aria-selected="false">{{'Notice' |translate}}</a>
        </li>
        <li class="nav-item">
          <a class="nav-link " id="pills-search-tab" data-toggle="pill" href="#pills-search" role="tab" aria-controls="pills-search"
            aria-selected="false">{{'Search' |translate}}</a>
        </li>
        <li class="nav-item">
          <a class="nav-link " id="pills-message-tab" data-toggle="pill" href="#pills-message" role="tab" aria-controls="pills-message"
            aria-selected="false">{{'Message' |translate}}</a>
        </li>
      </ul>
    </nav>

    <div class="body">
      <div class="tab-content" id="pills-tabContent">
        <div class="tab-pane fade show active" id="pills-home" role="tabpanel" aria-labelledby="pills-home-tab">
          <div class="chat-list">
            <app-chat-list></app-chat-list>
          </div>
          <div class="chat-peer">
            <app-chat-peer></app-chat-peer>
          </div>
        </div>
        <div class="tab-pane fade " id="pills-profile" role="tabpanel" aria-labelledby="pills-profile-tab">
          <div class="chat-list">
            <app-contact-list></app-contact-list>
          </div>
          <div class="chat-peer">
            <app-contact-info></app-contact-info>
          </div>
        </div>
        <div class="tab-pane fade " id="pills-contact" role="tabpanel" aria-labelledby="pills-contact-tab">
          <app-system-notice></app-system-notice>
        </div>
        <div class="tab-pane fade " id="pills-search" role="tabpanel" aria-labelledby="pills-search-tab">
          <app-search></app-search>
        </div>
        <div class="tab-pane fade " id="pills-message" role="tabpanel" aria-labelledby="pills-message-tab">
          <app-chat-message></app-chat-message>
        </div>
      </div>
    </div>
  </div>

</div>
