<div>
  <div *ngIf="userInfo" class="card" style="width: 24rem;text-align: center;margin: 0 auto">
    <img class="card-img-top" [src]="userInfo.imageUrlFull" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">{{userInfo.userName}}</h5>
      <p class="card-text">{{userInfo.bio}}</p>
    </div>
    <ul class="list-group list-group-flush">
      <li class="list-group-item">{{userInfo.country}}</li>
      <li class="list-group-item">
        <a href="javascript:void(0)" (click)="sendMessage()" class="card-link">{{'Send Message' | translate}}</a>
      </li>
      <!-- <li class="list-group-item">
        <a href="javascript:void(0)" (click)="sendAudio()" class="card-link">{{'Audio call' | translate}}</a>
      </li>
      <li class="list-group-item">
        <a href="javascript:void(0)" (click)="sendVideo()" class="card-link">{{'Video call' | translate}}</a>
      </li> -->
    </ul>
  </div>
</div>
