<ngb-carousel *ngIf="images">
  <ng-template ngbSlide>
    <img [src]="images[0]" alt="Random first slide" class="img-fluid">
    <div class="carousel-caption">
      <h3>{{'EDX-BASED ONLINE LEARNING PLATFORM'|translate}}</h3>
      <p>{{'E-ducation is further developed using Open edX'|translate}}</p>
    </div>
  </ng-template>
  <ng-template ngbSlide>
    <img [src]="images[1]" alt="Random second slide" class="img-fluid">
    <div class="carousel-caption">
      <h3>{{'EASY SET-UP WITHIN 5 MINUTES'|translate}}</h3>
      <p>{{'Require no server deployment or IT specialists'|translate}}</p>
    </div>
  </ng-template>
  <ng-template ngbSlide>
    <img [src]="images[2]" alt="Random third slide" class="img-fluid">
    <div class="carousel-caption">
      <h3>{{'AFFORDABLE'|translate}}</h3>
      <p>{{'Basic version free of charge'|translate}}</p>
    </div>
  </ng-template>
  <ng-template ngbSlide>
    <img [src]="images[3]" alt="Random third slide" class="img-fluid">
    <div class="carousel-caption">
      <h3>{{'SEARCHING FOR ONLINE LEARNING PLATFORM'|translate}}</h3>
      <p>{{'using the same technical framework as Harvard and MIT'|translate}}</p>
    </div>
  </ng-template>
</ngb-carousel>
