<div class="chat-list">
  <table class="table table-hover" id="table-chat-list">

    <tbody>
      <tr *ngFor="let item of chatNodes;let i=index" [ngClass]="item.active" (click)="chatUser(item)">
        <th scope="row">
          <img [src]="item.userDetail.imageUrlMedium" alt="">
        </th>
        <td>
          <div>
            <h5>
              <strong>{{item.userDetail.userName}}</strong>
            </h5>
            <p *ngIf="item.type==1" class="text">{{item.text}}</p>
            <p *ngIf="item.type>1" class="text" style="color: red"><i [class]="item.text"></i></p>
          </div>
        </td>
        <td style="padding: 0px;vertical-align:middle" class="opera-btn">
          <button type="button" class="btn btn-outline-danger btn-sm" style="display: none" (click)="removeUser(item,i)">
            <i class="far fa-times-circle fa-1x"></i>
          </button>
        </td>

      </tr>

    </tbody>
  </table>
</div>
