<div>
  <table class="table table-hover">

    <tbody>
      <tr>
        <th scope="row">
            <img src="https://unescoedu.hyhrobot.com/media/profile-images/d91bd480131fe973985f1e1d2925191c_50.jpg?v=1524816692" 
            alt="">
        </th>
        <td>
          <div>
            <h5> <strong>userName</strong></h5>
            <p>欢迎感兴趣的朋友们一起来玩哦</p>
          </div>
        </td>
        <td style="padding: 0px;vertical-align:middle">
            <button  type="button" class="btn btn-outline-danger btn-sm">
                <i class="far fa-times-circle fa-1x"></i>
              </button>
        </td>
     
      </tr>
      <tr>
        <th scope="row">
            <img src="https://unescoedu.hyhrobot.com/media/profile-images/765b7ad06e48abd94e4215aaba9d60e8_50.jpg?v=1524817034" 
            alt="">
        </th>
        <td>
          <div>
            <h5> <strong>hyhrobot</strong></h5>
            <p>欢迎起来玩哦</p>
          </div>
        </td>
        <td style="padding: 0px;vertical-align:middle">
            <button  type="button" class="btn btn-outline-danger btn-sm">
                <i class="far fa-times-circle fa-1x"></i>
              </button>
        </td>
      </tr>
    </tbody>
  </table>
</div>
