<div class="chat-peer" *ngIf="currentChatModel.user">
  <div class="main" id="chat-main">
    <div class="m-header">
      <div style="float: left;">
        <h5 *ngIf="currentChatModel.user">{{currentChatModel.user.userName}}</h5>
      </div>

      <div class="opera-btn">
        <div>
          <button type="button" class="btn btn-light btn-sm" (click)="linkInfo('audio')">
            <i class="fas fa-microphone"></i>
          </button>
          <button type="button" class="btn btn-light btn-sm" (click)="linkInfo('video')">
            <i class="fas fa-video"></i>
          </button>
        </div>


      </div>
    </div>
    <div class="m-message" id="m-message">

      <ul *ngIf="currentChatModel.nodes">
        <!--v-for-start-->
        <li *ngFor="let item of currentChatModel.nodes">
          <p class="time">
            <span>{{item.creationTime | date: 'HH:mm:ss'}}</span>
          </p>
          <div class="main " [ngClass]="item.getSelfActive(runConfig)">
            <img class="avatar" src="/assets/img/chat/2.png" width="30" height="30">
            <div class="text">{{item.text}}</div>
          </div>
        </li>
        <!--v-for-end-->
      </ul>
    </div>
    <!--v-component-->

    <div class="m-text">
      <textarea name="messageContext" [(ngModel)]="currentChatModel.text" (keyup.enter)="sendMessage()" placeholder="{{ 'Input messages here, press Enter to send.'| translate}}"></textarea>
    </div>
    <!--v-component-->
  </div>
  <div class="media-main" id="media-main" style="display: none">
    <app-chat-media (sendMessage)="sendMediaMessage($event)" [mediaModel]="mediaModel"></app-chat-media>
  </div>
</div>
<div *ngIf="!currentChatModel.user" style="height: 500px;">
  <p>
    {{'The message list is empty' |translate}}
  </p>
</div>
