<div class="chat-peer" *ngIf="currentChatModel.user">
  <div class="main" id="chat-main">
    <div class="m-header">
      <div style="float: left;">
        <h5 *ngIf="currentChatModel.user">{{currentChatModel.user.userName}}</h5>
      </div>
    </div>
    <div class="m-message" id="m-message">

      <ul *ngIf="currentChatModel.nodes">
        <!--v-for-start-->
        <li *ngFor="let item of currentChatModel.nodes">
          <p class="time">
            <span>{{item.creationTime | date: 'HH:mm:ss'}}</span>
          </p>
          <div class="main " [ngClass]="item.getSelfActive(runConfig)">
            <img class="avatar" [src]="item.getUserInfo(userContact).imageUrlMedium" width="30" height="30">
            <div *ngIf="item.messageType<=1" class="text">{{item.text}}</div>
            <div *ngIf="item.messageType>1" class="text">
              <i [ngClass]="item.text" style="color: red"></i> &nbsp;&nbsp;
            </div>

          </div>
        </li>
        <!--v-for-end-->
      </ul>
    </div>
    <!--v-component-->
    <div>
      <div style="text-align: right">
        <button type="button" class="btn btn-light btn-sm" placement="top" ngbTooltip="{{'Chat history'|translate}}" (click)="openMessage()">
          <i class="fas fa-comment-alt"></i>
        </button>
        <button type="button" class="btn btn-light btn-sm opera-btn" placement="top" ngbTooltip="{{'Audio call'|translate}}" (click)="linkInfo('audio')">
          <i class="fas fa-microphone"></i>
        </button>
        <button type="button" class="btn btn-light btn-sm opera-btn" placement="top" ngbTooltip="{{'Video call'|translate}}" (click)="linkInfo('video')">
          <i class="fas fa-video"></i>
        </button>
      </div>
    </div>
    <div class="m-text">
      <textarea name="messageContext" [(ngModel)]="currentChatModel.text" (keyup.enter)="sendMessage()" placeholder="{{ 'Input messages here, press Enter to send.'| translate}}"></textarea>
    </div>
    <!--v-component-->
  </div>
  <div class="media-main" id="media-main" style="display: none">
    <app-chat-media (sendMessage)="sendMediaMessage($event)" [mediaModel]="mediaModel"></app-chat-media>
  </div>
</div>
<div *ngIf="!currentChatModel.user" style="height: 500px;">
  <p>
    {{'The message list is empty' |translate}}
  </p>
</div>
<ng-template #content let-c="close" let-d="dismiss">
  <div class="modal-header">
    <h4 class="modal-title">{{'Media invitation'|translate}}</h4>
   
  </div>
  <div class="modal-body">
    <p *ngIf="mediaModel.type=='video'">{{'Video invitations'| translate:{Name:mediaModel.user.userName} }}</p>
    <p *ngIf="mediaModel.type=='audio'">{{'Audio invitations'| translate:{Name:mediaModel.user.userName} }}</p>

  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-primary" (click)="join()">
      {{'Accept'|translate}}
    </button>

    <button type="button" class="btn btn-danger" (click)="refuse()">
      {{'Refuse'|translate}}
    </button>
  </div>
</ng-template>
