<div>

  <ul class="nav nav-tabs" id="myTab" role="tablist">
    <li class="nav-item">
      <a class="nav-link active" id="friends-tab" data-toggle="tab" href="#friends" role="tab" aria-controls="friends" aria-selected="true">{{'Friends' | translate}}</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" id="online-tab" data-toggle="tab" href="#online" role="tab" aria-controls="online" aria-selected="false">{{'Online' | translate}}</a>
    </li>

  </ul>
  <div class="tab-content" id="myTabContent">
    <div class="tab-pane fade show active" id="friends" role="tabpanel" aria-labelledby="friends-tab">
      <table class="table table-hover">

        <tbody>

          <tr *ngFor="let item of userNodes" (click)="setUser(item)" [ngClass]="item.active">
            <th scope="row">
              <img [src]="item.imageUrlMedium" alt="">
            </th>
            <td>
              <div>
                <h5>
                  <strong>{{item.userName}}</strong>
                </h5>
                <p>{{item.bio}}</p>
              </div>
            </td>

          </tr>
        </tbody>
      </table>
    </div>
    <div class="tab-pane fade" id="online" role="tabpanel" aria-labelledby="online-tab">

    </div>

  </div>

</div>
