.shard{
    height: 580px;
}
.awwboard{
    height: 510px;

}

.tab-context{
    height: 520px;
    margin-top: 5px;   
}
.card-body{
    padding: 0.25rem !important;
}
.div-button button{
    width: 40px;
}
.container-fluid{
    padding-top: 2px;
    padding-left: 2px;
    padding-right: 0px;
    overflow-x: hidden;
}