<div class="course-online">
  <table class="table table-hover">

    <tbody>
      <tr *ngFor="let item of onlineNodes |userNameFilter: formSearch">
        <th scope="row">
          <i *ngIf="item.teacher" class="fas fa-chalkboard-teacher" style="color:blue"></i>
          <i *ngIf="!item.teacher" class="fas fa-graduation-cap"></i>
        </th>
        <td style="width: 70%">
          {{item.userName}}
        </td>
        <td>
          <button type="button" class="btn btn-sm btn-outline-primary" *ngIf="item.userId!=runConfig.userId">
            <i class="fab fa-rocketchat"></i>
          </button>
        </td>

      </tr>

    </tbody>
  </table>
</div>
<div>
  <form>
    <div class="form-group">

      <input type="text" name="userNameSearch" [(ngModel)]="formSearch" class="form-control" placeholder="{{'Search Users'|translate}}">
    </div>
  </form>
</div>
