<div class="course-online">
  <table class="table table-hover">

    <tbody>
      <tr *ngFor="let item of onlineNodes |userNameFilter: formSearch">
        <th scope="row">
          <i *ngIf="item.teacher" class="fas fa-chalkboard-teacher" style="color:blue"></i>
          <i *ngIf="!item.teacher" class="fas fa-graduation-cap"></i>
        </th>
        <td style="width: 70%">
          {{item.userName}}
        </td>
        <td>
          <button type="button" class="btn btn-sm btn-outline-primary" *ngIf="item.userId!=runConfig.userId" (click)="chat(item,content)">
            <i class="fab fa-rocketchat"></i>
          </button>
        </td>

      </tr>

    </tbody>
  </table>
</div>
<div>
  <form>
    <div class="form-group">

      <input type="text" name="userNameSearch" [(ngModel)]="formSearch" class="form-control" placeholder="{{'Search Users'|translate}}">
    </div>
  </form>
</div>

<ng-template #content let-c="close" let-d="dismiss" style="width:900px">
  <div class="modal-header">
    <h4 class="modal-title">{{'Online Chat'|translate}}</h4>
    <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <div id="chat">
      <div class="sidebar">
        <div class="m-card">
          <header>
            <img class="avatar" alt="Coffce" src="/assets/img/chat/1.jpg" width="40" height="40">
            <p class="name">{{runConfig.userName}}</p>
          </header>
          <footer>
            <input class="search" placeholder="search user...">
          </footer>
        </div>
        <!--v-component-->
        <div class="m-list">
          <ul>
            <!--v-for-start-->
            <li class="active">
              <img class="avatar" alt="" src="/assets/img/chat/2.png" width="30" height="30">
              <p class="name">{{currentChatModel.user.userName}}</p>
            </li>
            <!-- <li>
              <img class="avatar" alt="webpack" src="/assets/img/chat/3.jpg" width="30" height="30">
              <p class="name">webpack</p>
            </li> -->
            <!--v-for-end-->
          </ul>
        </div>
        <!--v-component-->
      </div>
      <div class="main" id="chat-main">
        <div class="m-header">
          <h5>{{currentChatModel.user.userName}}</h5>
          <button type="button" class="btn btn-link btn-sm" (click)="linkInfo('info')">
            <i class="fas fa-info"></i>
          </button>
        </div>
        <div class="m-message" id="m-message">

          <ul *ngIf="currentChatModel.nodes">
            <!--v-for-start-->
            <li *ngFor="let item of currentChatModel.nodes">
              <p class="time">
                <span>{{item.creationTime | date: 'HH:mm:ss'}}</span>
              </p>
              <div class="main " [ngClass]="item.getSelfActive(runConfig)">
                <img class="avatar" src="/assets/img/chat/2.png" width="30" height="30">
                <div class="text">{{item.text}}</div>
              </div>
            </li>
            <!--v-for-end-->
          </ul>
        </div>
        <!--v-component-->
        <div class="opera-btn" >
          <div *ngIf="!(slider.showAudio||slider.showVideo)">
            <button type="button" class="btn btn-light btn-sm" (click)="linkInfo('audio')">
              <i class="fas fa-microphone"></i>
            </button>
            <button type="button" class="btn btn-light btn-sm" (click)="linkInfo('video')">
              <i class="fas fa-video"></i>
            </button>
          </div>


        </div>
        <div class="m-text">
          <textarea name="messageContext" [(ngModel)]="currentChatModel.text" (keyup.enter)="sendMessage()" placeholder="{{ 'Input messages here, press Enter to send.'| translate}}"></textarea>
        </div>
        <!--v-component-->
      </div>

      <div class="sidebar-right" *ngIf="slider.display">
        <div class="sidebar-right-header">
          <button type="button" class="btn btn-link btn-sm" (click)="closeInfo()" *ngIf="!(slider.showAudio||slider.showVideo)">
            <i class="fas fa-times" style="color: black"></i>
          </button>

        </div>
        <div class="person-info" *ngIf="slider.showInfo">
          <div class="card bg-light text-dark" style="height: 560px;">
            <img class="card-img-top" src="/assets/img/chat/3.jpg" alt="Card image cap">
            <div class="card-body">
              <h5 class="card-title">{{currentChatModel.user.userName}}</h5>
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            </div>
          </div>
        </div>

        <div class="video-info" *ngIf="slider.showVideo">
          <div *ngIf="chatStatus==0">
            <div class="video-play" *ngIf="localVideoNode" id="{{localVideoNode.getStreamId()}}">
            </div>
            <div class="video-play-top" *ngIf="localVideoNode">
              <div class="top-header">
                <div>
                  <img class="avatar" style="float: left;margin-right: 10px" alt="Coffce" src="/assets/img/chat/1.jpg" width="40" height="40">
                  <p style="padding-top: 5px;">{{currentChatModel.user.userName}}</p>
                </div>

                <p>{{'Wait for the other party to accept the invitation'| translate}}</p>
              </div>
              <div class="video-buttom" style="text-align: center;margin-top: 360px">
                <button type="button" class="btn btn-danger" (click)="closeInfo('video')">
                  <i class="fas fa-ban"></i>
                </button>
              </div>
            </div>
          </div>

          <div *ngIf="chatStatus==1">

            <div class="video-play-top">
              <div class="top-header">
                <div>
                  <img class="avatar" style="float: left;margin-right: 10px" alt="Coffce" src="/assets/img/chat/1.jpg" width="40" height="40">
                  <p style="padding-top: 5px;">{{mediaMessage.title}}</p>
                </div>

                <p>{{'Video invitations'| translate:{Name:mediaMessage.title} }}</p>
              </div>
              <div class="video-buttom" style="text-align: center;margin-top: 360px">
                <button type="button" class="btn btn-primary" (click)="join(true,true)">
                  <i class="fas fa-phone"></i>
                </button>

                <button type="button" class="btn btn-danger" (click)="closeInfo('video','refuse')">
                  <i class="fas fa-ban"></i>
                </button>
              </div>
            </div>
          </div>
          <div *ngIf="chatStatus==2">
            <div class="video-play" *ngIf="remoteVideoNode" id="{{remoteVideoNode.getStreamId()}}">
            </div>
            <div class="video-play-top" id="video-peer">
              <div class="top-video">
                <div style="width: 70px;height: 100px" *ngIf="localVideoNode" id="{{localVideoNode.getStreamId()}}">
                </div>
              </div>
              <div id="exit-button" class="video-buttom" style="text-align: center;margin-top: 360px;display: none">
                <button type="button" class="btn btn-danger" (click)="closeInfo('video','exit')">
                  <i class="fas fa-ban"></i>
                </button>
              </div>
            </div>
          </div>

        </div>

        <div class="audio-info" *ngIf="slider.showAudio">
          <div *ngIf="chatStatus==0">
            <div class="video-play">
              <div class="top-header" style="text-align: center;margin-top: 200px;margin-bottom: 10px;">
                <div>
                  <img class="avatar" alt="Coffce" src="/assets/img/chat/1.jpg" width="40" height="40">

                </div>
                <p>{{currentChatModel.user.userName}}</p>
                <p>{{'Wait for the other party to accept the invitation'| translate}}</p>
              </div>
              <div class="video-buttom" style="text-align: center;margin-top: 150px">
                <button type="button" class="btn btn-danger" (click)="closeInfo('audio','refuse')">
                  <i class="fas fa-ban"></i>
                </button>
              </div>
            </div>

          </div>
          <div *ngIf="chatStatus==1">

            <div class="video-play-top">
              <div class="top-header" style="text-align: center;margin-top: 200px;margin-bottom: 10px;">
                <div>
                  <img class="avatar" alt="Coffce" src="/assets/img/chat/1.jpg" width="40" height="40">

                </div>
                <p>{{mediaMessage.title}}</p>
                <p>{{'Audio invitations'| translate:{Name:mediaMessage.title} }}</p>
              </div>
              <div class="video-buttom" style="text-align: center;margin-top: 160px">
                <button type="button" class="btn btn-primary" (click)="join(true,false)">
                  <i class="fas fa-phone"></i>
                </button>

                <button type="button" class="btn btn-danger" (click)="closeInfo('audio','refuse')">
                  <i class="fas fa-ban"></i>
                </button>
              </div>
            </div>
          </div>

          <div *ngIf="chatStatus==2">
            <div class="video-play">
              <div style="height: 200px;">
                <div *ngIf="remoteVideoNode" id="{{remoteVideoNode.getStreamId()}}"></div>
                <div *ngIf="localVideoNode" id="{{localVideoNode.getStreamId()}}"></div>
              </div>
              <div style="text-align: center;margin-bottom: 10px;">
                <div>
                  <img class="avatar" alt="Coffce" src="/assets/img/chat/1.jpg" width="40" height="40">
                </div>
                <p>{{mediaMessage.title}}</p>

                <p style="margin-top: 30px;color: red">{{callSecond}}</p>
              </div>
              <div class="video-buttom" style="text-align: center; margin-top: 150px">
                <button type="button" class="btn btn-danger" (click)="closeInfo('audio','exit')">
                  <i class="fas fa-ban"></i>
                </button>
              </div>
            </div>

          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-light" (click)="c('Close click')">{{ 'Close' | translate}}</button>
  </div>
</ng-template>


<ng-template #invitations let-c="close" let-d="dismiss">
  <div class="modal-header">
    <h4 class="modal-title">{{mediaMessage.title}}</h4>
    <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <p *ngIf="mediaMessage.type==2">{{'Audio invitations'| translate:{Name:mediaMessage.title} }}</p>
    <p *ngIf="mediaMessage.type==3">{{'Video invitations'| translate:{Name:mediaMessage.title} }}</p>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-primary" (click)="accept()">{{'Accept'| translate}}</button>

    <button type="button" class="btn btn-danger" (click)="modalRefuse()">{{'Refuse'| translate}}</button>
  </div>
</ng-template>
