<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container">
    <a class="navbar-brand" [routerLink]="['/']">
      <img src="/assets/img/logo.png" width="100" height="30" alt="">
    </a>

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
      aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" routerLink="/feature">{{'Features' |translate}}
            <span class="sr-only">(current)</span>
          </a>
        </li>



      </ul>
      <ul class="nav navbar-nav navbar-right nav-pl">

        <li>
          <a class="btn btn-outline-success my-2 my-sm-0" href="https://unescoedu.hyhrobot.com/">{{'Log in'|translate}}</a>


        </li>
        <li style="margin-left: 10px">
          <a class="btn btn-outline-success my-2 my-sm-0">{{'Free Trial'|translate}}</a>

        </li>
        <li class="nav-item dropdown" style="margin-left: 10px">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true"
            aria-expanded="false">
            {{currentLang}}
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" href="javascript:void(0)" (click)="changeLang('zh','中文')">中文</a>
            <a class="dropdown-item" href="javascript:void(0)" (click)="changeLang('en','English')">English</a>

          </div>
        </li>
      </ul>
    </div>
  </div>

</nav>
