<div class="row">
  <div class="col-md-4">

    <ul class="list-group">
      <li class="list-group-item list-group-item-action d-flex justify-content-between align-items-center " *ngFor="let item of countryNodes"
        [ngClass]="item.active" (click)="searchItem(item)">
        {{item.name}}
        <span class="badge badge-primary badge-pill">{{item.num}}</span>
      </li>

    </ul>
  </div>

  <div class="col-md-8">

    <form *ngIf="currentModel">
      <div class="form-group row">
        <div class="col-sm-9">
          <input type="text" class="form-control" placeholder="UserName" [(ngModel)]="searchName" name="searchName">
        </div>
        <button type="submit" class="btn btn-outline-primary col-sm-2" (click)="userSearch()">{{'Search'| translate}}</button>
      </div>
    </form>
    <div *ngIf="currentModel">
      <div class="person-list">
        <table class="table table-hover">

          <tbody>
            <tr *ngFor="let item of currentModel.nodes" [ngClass]="item.trClass">

              <td style="width: 70px">
                <img [src]="item.imageUrlMedium" alt="">
              </td>
              <td>
                <h6>
                  <strong>{{item.userName}}</strong>
                </h6>
                <p>{{item.bio}}</p>
              </td>
              <td>{{item.country}}</td>
              <td>

                <button *ngIf="item.status==-1" class="btn btn-sm btn-outline-primary my-2 my-sm-0"  placement="top" ngbTooltip="{{'Add Contacts'|translate}}" (click)="addFriend(item)">
                  <i class="fas fa-plus"></i>
                </button>
                <p *ngIf="item.status==0">
                  {{'Have applied' |translate}}
                </p>
                <p *ngIf="item.status==1">
                  {{'Agree' |translate}}
                </p>
                <p *ngIf="item.status==2">
                  {{'Refuse' |translate}}
                </p>
              
              </td>
            </tr>


          </tbody>
        </table>
      </div>
      <div>
        <ngb-pagination class="d-flex justify-content-center" (pageChange)="currentModel.pageChange($event)" [collectionSize]="currentModel.total"
          [(page)]="currentModel.currentPage" [(pageSize)]="currentModel.pageSize" [maxSize]="5" [boundaryLinks]="true"></ngb-pagination>
      </div>
    </div>
  </div>
</div>
