.media-main {
    background: black;
}

.media-main {
    height: 680px;
}

.footer-button {
    text-align: center;
}

.video-play {
    height: 680px;
}

.video-play-top {
    position: absolute;
    left: 960px;
    top: 100px;
    z-index: 344444;
    height: 560px;
    width: 220px;
}

.footer {
    position: absolute;
    top: 600px;
    z-index: 55;
    text-align: center;
    width: 230px;
    color: white;
}