<div>
  <app-hsedu-nav></app-hsedu-nav>
  <div class="container-fluid no-padding">
    <div class="technology">
      <h2>{{'Top Universities Worldwide Are Using EdX Now'|translate}}</h2>
      <p class="functions padding15">{{'All EdX Features'|translate}}</p>
      <img src="/assets/img/home/edx.png" alt="">

    </div>
  </div>

  <div class="pc-function" style="display: block;">
    <div class="container-fluid function-power">
      <h2>{{'More Features'|translate}}</h2>
      <p>{{'E-ducation has three systems'|translate}}</p>
      <p>{{'Organizations can allocate different features to specific roles'|translate}}</p>

      <ul class="carousel-content">
        <li>
          <p>{{'Online Learning'|translate}}</p>
          <span>(LMS)</span>
          <p>{{'For Learners multi-platform friendly'|translate}}
          </p>
          <p class="con-dec">{{'More Information'|translate}}
            <i class="fa fa-sort-desc" aria-hidden="true"></i>
          </p>
        </li>
        <li class="content-current">
          <p>{{'System Management'|translate}}</p>
          <span>(Xadmin)</span>
          <p>{{'For Admins with full access to management permissions'|translate}}
          </p>
          <p class="con-dec">{{'More Information'|translate}}
            <i class="fa fa-sort-desc" aria-hidden="true"></i>
          </p>
        </li>
        <li>
          <p>{{'Course Management'|translate}}</p>
          <span>(CMS)</span>
          <p>{{'For Instructors able to add new courses and upload courseware at any time'|translate}}</p>
          <p class="con-dec">{{'More Information'|translate}}
            <i class="fa fa-sort-desc" aria-hidden="true"></i>
          </p>
        </li>
      </ul>
    </div>

    <div class="function-list">
      <i class="fa fa-times-circle" id="close"></i>

      <div class="list3">
        <div class="list3-t">
          <div>
            <h4>{{'Multi-platform'|translate}}</h4>
            <p>{{'Study on Web iOS and Android at any time'|translate}}</p>
          </div>
        </div>
        <div class="list3-b">
          <div>
            <h4>{{'One-to-One'|translate}}</h4>
            <p>{{'Live with teaching assistants to promptly solve intractable problems'|translate}}</p>
          </div>
          <div>
            <h4>{{'Exercise Assessment'|translate}}</h4>
            <p>{{'System automatically grades in-class exercises and immediately provides results'|translate}}</p>
          </div>
          <div>
            <h4>{{'Certification'|translate}}</h4>
            <p>{{'Receive certificate on course completion for better recognition and promotion in your career'|translate}}</p>
          </div>
        </div>
      </div>

      <div class="list1">
        <div class="list1-t">
          <div>
            <h4>{{'Exclusive Domain'|translate}}</h4>
            <p>{{'Unique and recognizable'|translate}}</p>
          </div>
          <div>
            <h4>{{'Live Lecture'|translate}}</h4>
            <p>{{'online anywhere interactive'|translate}}</p>
          </div>
          <div>
            <h4>{{'Hierarchical Permission'|translate}}</h4>
            <p>{{'Various roles with different access'|translate}}</p>
          </div>
        </div>
        <div class="list1-b">
          <div>
            <h4>{{'Data Sheet'|translate}}</h4>
            <p>{{'Multi-dimension learning statistic report visualizes learning effects'|translate}}</p>
          </div>
          <div>
            <h4>{{'Resource Linkage'|translate}}</h4>
            <p>{{'Link to EliteU quality management training courses with just one click'|translate}}</p>
          </div>
        </div>
      </div>

      <div class="list2">
        <div class="list2-t">
          <div>
            <h4>{{'Course Creation'|translate}}</h4>
            <p>{{'Manage and upload course video, outline, courseware and other materials'|translate}}</p>
          </div>
          <div>
            <h4>{{'Progress Tracking'|translate}}</h4>
            <p>{{'Check the latest number of learners and learning progress at any time'|translate}}</p>
          </div>
          <div>
            <h4>{{'Library Management'|translate}}</h4>
            <p>{{'Bulk-upload and modify at any time. Diverse exercises available'|translate}}</p>
          </div>
        </div>
        <div class="list2-b">
          <div>
            <h4>{{'Course Production'|translate}}</h4>
            <p>{{'Complimentary software for course production. Easily produce professional courses'|translate}}</p>
          </div>
          <div>
            <h4>{{'Guidance Assistance'|translate}}</h4>
            <p>{{'Assist in course design, production and management; provide professional and reliable solutions'|translate}}</p>
          </div>
          <div>
            <h4>{{'Co-authored Courses'|translate}}</h4>
            <p>{{'Co-author customized quality courses with senior professors from business schools'|translate}}</p>
          </div>
        </div>
      </div>

    </div>
  </div>
  <app-hsedu-footer></app-hsedu-footer>
</div>
