<div class="container-fluid footer-about">
    <div class="container" style="padding-left:0;padding-right: 0;">
      <div class="row" style="margin-left: 0;margin-right:0;">

        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
          <div class="row">

            <div class="col-lg-9 col-md-12 col-sm-12 col-xs-12 company">
              <p class="pull-right" style="opacity: 1;">© Copyright 2018 Guangzhou Elite Education &amp; Technology Co, Ltd. All Rights Reserved
                <a href="http://www.miitbeian.gov.cn" target="_blank" style="color: #FFF;">粤ICP备13044168号-3</a>
              </p>
            </div>
          </div>

        </div>

      </div>

    </div>
  </div>