<div>
  <!-- <app-hsedu-slide></app-hsedu-slide>
  <app-hsedu-course-preview></app-hsedu-course-preview> -->
  <app-hsedu-nav></app-hsedu-nav>
  <app-hsedu-slide></app-hsedu-slide>
  <div class="company-dec container">
    <h2>{{'Everything You Need for Training Learning'|translate}}</h2>
    <div class="row company-box" style="margin: 0;">
      <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <ul class="row">
          <li class="col-lg-3 col-md-3 col-sm-3 col-xs-3">
            <div>
              <img src="/assets/img/home/www-server_b.png" alt="">
            </div>
            <p>{{'Exclusive Domain'|translate}}</p>
          </li>
          <li class="col-lg-3 col-md-3 col-sm-3 col-xs-3">
            <div>
              <img src="/assets/img/home/list2-04_b.png" alt="">
            </div>
            <p>{{'Course Production'|translate}}</p>
          </li>
          <li class="col-lg-3 col-md-3 col-sm-3 col-xs-3">
            <div>
              <img src="/assets/img/home/live-lec_b.png" alt="">
            </div>
            <p>{{'Live Lecture'|translate}}</p>
          </li>
          <li class="col-lg-3 col-md-3 col-sm-3 col-xs-3">
            <div>
              <img src="/assets/img/home/list03-03_b.png" alt="">
            </div>
            <p>{{'Exercises Exams'|translate}}</p>
          </li>
          <li class="col-lg-3 col-md-3 col-sm-3 col-xs-3">
            <div>
              <img src="/assets/img/home/data_b.png" alt="">
            </div>
            <p>{{'Statistic Report'|translate}}</p>
          </li>
          <li class="col-lg-3 col-md-3 col-sm-3 col-xs-3">
            <div>
              <img src="/assets/img/home/question_b.png" alt="">
            </div>
            <p>{{'One-to-One'|translate}}</p>
          </li>
          <li class="col-lg-3 col-md-3 col-sm-3 col-xs-3">
            <div>
              <img src="/assets/img/home/function-power_b.png" alt="">
            </div>
            <p>{{'Access Allocation'|translate}}</p>
          </li>
          <li class="col-lg-3 col-md-3 col-sm-3 col-xs-3">
            <div>
              <img src="/assets/img/home/personal-bg_b.png" alt="">
            </div>
            <p>{{'Customization'|translate}}</p>
          </li>
        </ul>
      </div>
    </div>
    <a href="/features/info/" class="company-more">{{'Learn more'|translate}}</a>
  </div>
  <div class="container mooc-box">
    <img [src]="currentImage" alt="">
    <!-- <p>{{'E-ducation Online Learning and Training Platform'|translate}}</p>
    <h2 style="margin-top: 20px;">{{'Easy Efficient Beyond Expectations'|translate}}</h2> -->

  </div>
  <div class="container" style="margin-top: 20px">
    <ngb-carousel *ngIf="images">
      <ng-template ngbSlide>
        <div>
          <img  [src]="images[0]" alt="slide">
        </div>
        <div class="carousel-caption">

          <p style="font-weight:bold"> I learned most of my programming skills and database management skills through self-study and the material available
            on HUASHI EDU.

          </p>
          <p>–Jules, Database Manager</p>
        </div>


      </ng-template>
      <ng-template ngbSlide>
        <div>
          <img  [src]="images[1]" alt="slide">
        </div>
        <div class="carousel-caption">

          <p style="font-weight:bold"> Ben Long is the best, 90% of what I know about photography I've learned from watching his videos on HUASHI EDU.
          </p>
          <p>–Paul, Photography Director</p>
        </div>


      </ng-template>
      <ng-template ngbSlide>
        <div >
          <img [src]="images[2]" alt="slide">
        </div>
        <div class="carousel-caption">

          <p style="font-weight:bold"> I've been out of college for about two years, HUASHI EDU has changed my outlook on my career. Taking the foundational
            courses in marketing has helped me launch my career.

          </p>
          <p>–Jenny, Associate Marketing</p>
        </div>


      </ng-template>
    </ngb-carousel>
  </div>

  <app-hsedu-footer></app-hsedu-footer>
</div>
