<div style="margin-top: 10px">
  <h3>名校课程 
 
    <button type="button" class="btn btn-link" routerLink="/course-list">查看更多</button>
  </h3>
  <div class="content">
    <div class="card" >
      <img class="card-img-top" src="/assets/img/course/course.jpg" alt="Card image cap">
      <div class="card-body">
        <!-- <h5 class="card-title">Card title</h5> -->
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
    
      </div>
    </div>
    <div class="card" >
      <img class="card-img-top" src="/assets/img/course/course.jpg" alt="Card image cap">
      <div class="card-body">
        <!-- <h5 class="card-title">Card title</h5> -->
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
      
      </div>
    </div>
  </div>
</div>
